﻿@model Huaman_T3.Models.Historia
@{
    ViewData["Title"] = "Crear";
}

<h1>Crear Historia Clinica</h1>

<div class="row">
    <div>
        <form action="/HistoriaClinica/crear" method="post">

            <div class="form-group">
                <label class="control-label">Codigo</label>
                <input type="text" class="form-control" name="codigo" />
                @Html.ValidationMessage("codigo")
            </div>

            <div class="form-group">
                <label class="control-label">Fecha de registro</label>
                <input type="date" class="form-control" name="fecha" />
                @Html.ValidationMessage("fecha")
            </div>
            <div class="form-group">
                <label class="control-label">Nombre de la mascota</label>
                <input type="text" class="form-control" name="nombre" />
                @Html.ValidationMessage("nombre")
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de nacimineto del la mascota</label>
                <input type="date" class="form-control" name="fechaNacimiento" />
                @Html.ValidationMessage("fechaNacimiento")
            </div>
            <div class="form-group">
                <label class="control-label">Sexo </label>
                @*<input type="text" class="form-control" name="sexo" />*@
                <select class="form-control" name="sexo">
                    <option>macho</option>
                    <option>hembra</option>
                </select>
                @Html.ValidationMessage("sexo")
            </div>

            <div class="form-group">
                <label class="control-label">especie</label>
                <select class="form-control" name="idEspecie">
                    <option>--seleccione especie</option>
                    @foreach(var item in ViewBag.especie)
                    {
                        if (item.id == Model.idEspecie)
                        {
                            <option value="@item.id">@item.nombre</option>
                        }
                        else
                        {
                            <option value="@item.id">@item.nombre</option>
                        }
                    }
                </select>
                @Html.ValidationMessage("idEspecie")
            </div>

            <div class="form-group">
                <label class="control-label">Raza</label>
                <select class="form-control" name="idRaza">
                    <option>--seleccione Raza</option>
                    @foreach (var item in ViewBag.razad)
                    {
                        if (item.id == Model.idRaza)
                        {
                            <option value="@item.id">@item.nombre</option>
                        }
                        else
                        {
                            <option value="@item.id">@item.nombre</option>
                        }
                    }
                </select>
                @Html.ValidationMessage("idRaza")
            </div>
            <div class="form-group">
                <label class="control-label">Tamaño</label>
                <input type="text" class="form-control" name="tamaño" />
                @Html.ValidationMessage("tamaño")
            </div>

            <div class="form-group">
                <label class="control-label">datos Particulares</label>
                <textarea class="form-control" name="datosParticulare" rows="10" ></textarea>
                @Html.ValidationMessage("datosParticulare")
            </div>

            <div class="form-group">
                <label class="control-label">Nombre Dueño</label>
                <input type="text" class="form-control" name="nombreDueño" />
                @Html.ValidationMessage("nombreDueño")
            </div>
            <div class="form-group">
                <label class="control-label">Direccion</label>
                <input type="text" class="form-control" name="direccionDueño" />
                @Html.ValidationMessage("direccionDueño")
            </div>
            <div class="form-group">
                <label class="control-label">Telefono</label>
                <input type="text" class="form-control" name="telefono" />
                @Html.ValidationMessage("telefono")
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="email" class="form-control" name="email" />
                @Html.ValidationMessage("email")
            </div>

            <button class="btn btn-primary">guardar</button>
        </form>
        <a href="/HistoriaClinica/Index">Regresar</a>
    </div>
</div>